/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}


/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  }

.container {
  width: 95%;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

/* Estilos del encabezado */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 36px;
  color: #333;
}

/* Estilos del contenido principal */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.pedidos {
  border-radius: 4px;
  padding: 20px; 
}

.product-card {
  width: 200px;
  margin: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* Estilos del pie de página */
.footer {
  text-align: center;
  margin-top: 40px;
}

.footer p {
  color: #777;
}

/* Estilos de los botones */
.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  background-color: #555;
}

.button-group {
  display: flex;
  flex-direction: column;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
  .product-card {
    width: 100%;
  }
}
.alineado-izq-span {
  display: block;
  text-align: left;
}
